.foto {
    width: 300px;
    height: 300px;
    border-radius: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation:  turun 2s alternate;
}

body {
    background: linear-gradient(276deg, #00ffbd, #ff6c00);
    background-size: 400% 400%;
    animation: BGjalan 6s ease infinite;
}

.nama {
    font-family: Helvetica;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    animation: fadein2 3s forwards;
}

.biodata{
    font-family:sans-serif;
    color: transparent;
    text-align: center;
    vertical-align: middle;
    animation: fadein1 2s forwards;
    animation-delay: 1s;
    font-size: 120%;
}

#socmed{
    font-family:sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    animation: fadein2 2s forwards;

}
.icon{
    height: 25px;
    width: 25px;
    display: flex;
    margin-left: 44%;
    margin-right: 56%;
    flex: 50%;
    padding: 4px;
    animation: fadein1 2s forwards;
    animation-delay: 1.5s;
    padding: 10px;

}
@keyframes fadein1{
    from{color: transparent;}
    to{color: aliceblue;}
}

@keyframes fadein2{
    from{color: transparent;}
    to{color: aliceblue;}
}

@keyframes BGjalan { 
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

@keyframes turun{
    from{transform: scale(0);}
    to{transform: scale(1);}
}