body {
    background: linear-gradient(276deg, #00ffbd, #ff6c00);
    background-size: 400% 400%;
    animation: BGjalan 6s ease infinite;
}
@keyframes BGjalan {
    0%{background-position:15% 0%}
    50%{background-position:86% 100%}
    100%{background-position:15% 0%}
}

#py{
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#html{
  height: 200px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: white;
}
